{% extends 'base.html' %}
{% block content %}
<div class="container mr-3 bg-white text-dark mt-3 mb-3 p-4 border border-dark border-1 rounded">
    <h1>О сайте</h1>
    <p>Этот сайт - <a class="special-link" href="https://github.com/romon267">мой</a> первый проект по веб разработке, написан с помощью python, flask и bootstrap.
        Это блог или простая социальная сеть, реализованы следующие возможности:
    <ul>
        <li>Регистрация и система логина пользователей;</li>
        <li>Профили пользователей с лентой собственных постов;</li>
        <li>Создание постов с картинками;</li>
        <li>Возможность делать посты скрытыми(например, для ведения личного блога);</li>
        <li>Возможность подписок на других пользователей и отдельная лента по подпискам;</li>
        <li>Система комментариев, также с картинками;</li>
        <li>Возможность удалять и изменять посты и комментарии, есть отметки об изменении постов/комментариев;</li>
        <li>Разделение ленты на страницы.</li>
    </ul>
    </p>
</div>
{% endblock content %}