{% extends 'base.html' %}
{% block content %}


<div class="container bg-white text-dark mt-3 mb-3 p-4 border border-dark border-1 rounded">
<div class="text-center"><h2>Создайте новый аккаунт</h2></div>
<div class="card-body px-lg-5 py-lg-5">
  <div class="text-center text-muted mb-4">
    <small>Введите никнейм, почту и пароль</small>
  </div>
                <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-4 mb-4">
                {{ form.submit(class="btn btn-info") }}
            </div>
        </form>
        <a href="{{url_for('users.login')}}" class="text-dark"><small>Уже есть аккаунт? Войти</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row row-grid align-items-center mb-5">
          <div class="col-lg-6">
            <h4 class="mb-0 font-weight-light">Сайт находится в разработке.</h4>
          </div>
          
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-6">
            <div class="copyright">
              &copy; 2020 <a href="https://github.com/romon267" target="_blank">romon267</a>.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav nav-footer justify-content-end">
              <li class="nav-item">
                <a href="https://github.com/romon267" class="nav-link" target="_blank">romon267</a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('main.about')}}" class="nav-link" target="_blank">О сайте</a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('main.blog')}}" class="nav-link" target="_blank">Блог</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
{% endblock content %}