{%extends 'base.html'%}
{%block content%}
<div class="container bg-white text-dark mt-3 mb-3 p-4 border border-dark border-1 rounded">
    <h2>Сбросить пароль</h2>
    <small>Введите email от вашего пользователя</small>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}

                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}

                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}

                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}

                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>


        {{ form.submit(class="btn btn-outline-info") }}

    </form>
</div>

    <a href="{{url_for('users.register')}}"><small>Создать новый аккаунт</small></a>

    <footer class="footer">

        <h4 class="mb-0 font-weight-light">Сайт находится в разработке.</h4>


        <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
        <div class="copyright">
        &copy; 2020 <a href="https://github.com/romon267" target="_blank">romon267</a>.
        </div>
        </div>
        <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
        <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">romon267</a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">О сайте</a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">Блог</a>
        </li>
        </ul>
        </div>
        </div>
        </div>
    </footer>

{%endblock content%}
